<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>

<h1><%= @location.name %></h1>
<div class = "container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Dimension</th>
                <th>Residents</th>
                <th colspan="4"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @location.name %></td>
                    <td><%= @location.type %></td>
                    <td><%= @location.dimension %></td>
                    <% if @characters.is_a?(Hash) 
                        puts %><td><%= @characters.name %></td>
                    <% else 
                        puts %><td><% @characters.each do |character| %>
                            <%= link_to character.name, root_path + "characters/show/" + character.id%></br>
                        <% end %></td>
                    <% end %>
                </tr>    
            </tbody>
        </table>
    </div>
</div>
<%= link_to "Home page", root_path %>